:root {
    --stroke-color: #314158;
    --foreground-color: #90A1B9;
    --heading-color: #F8FAFC;
    --indigo-color: #615FFF;
    --teal-color: #00D5BE;
    --link-color: #FFA1AD;
    --primary-bg-color: #FFB86A;
}